.env

# Ansible
ansible.cfg
collections/
ansible/group_vars/all/custom.yml

# Terraform
terraform/.terraform
.terraform*
backend.tfvars
terraform/terraform.tfvars
*plan*
*tfstate*

# shared
terraform/inventory

# docs
**/_pycache_/
